<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Employee</title>
</head>
<style>
span
{
	color:red;
}
</style>

<body>
<div align="center">
    <h1>Add Book</h1>
    <form action="#" th:action="@{/addBook}" method="post" th:object="${book}">
        <label>Book ID:</label>
        <input type="number" th:field="*{id}" /><br/>
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span><br>
 
        <label>Title:</label>
        <input type="text" th:field="*{title}" /><br/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>
 
        <label>Publisher:</label>
        <input type="text" th:field="*{publisher}" /><br/>
        <span th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></span><br>
        
       
 
        <br />
 
        <button type="submit">Submit</button>    
    </form>
</div>
</body>
</html>